.heading {
  text-align: center;
}

.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

.localbtn {
  background-color: #1098ff;
  margin-bottom: 1rem;
}

.localbtn:hover {
  background-color: #0082e4;
}

.centerAlign {
  text-align: center;
}

.apibtn {
  background-color: #78D68C;
}

.apibtn:hover {
  background-color: #52ca6b;
}

.datefield {
  margin: 0 0.75rem;
  height: 1.5rem;
}

.chart_area{
  margin: 2rem 0.5rem 0;

}

.flex {
  display: flex;
  gap: 1rem;  
}

.section {
  width: 48%;
}